<!DOCTYPE html>
<html lang="en" style="border-right-style: none;margin: 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= config.name %> | Hosting</title>
    <meta name="description" content="24/7 Free Minecraft Hosting | Discord Bot Hosting">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almarai:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Inscriptional+Pahlavi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/FAQ.css">
    <link rel="stylesheet" href="../assets/css/features.css">
    <link rel="stylesheet" href="../assets/css/Footer.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/hover-button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/services.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<br>
<br>
<br>
<br>

  <!-- ======= Navibar ======= -->
<body style="background: linear-gradient(123deg, #157bd0, #c473f6);"><nav class="navbar navbar-light navbar-expand-xl fixed-top navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 85;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;box-shadow: 0px 0px 20px rgb(0,0,0);">
    <div class="container"><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="background: url('assets/img/hamburger.png');width: 45px;height: 40px;"></span></button>
        <div><a class="navbar-brand" href="#" style="font-size: 30px;"><span style="text-shadow: 0px 0px 9px;"><%= config.name %></span></a></div>
        <div id="navcol-1" class="collapse navbar-collapse" style="color: rgb(255, 255, 255);">
            <ul class="navbar-nav nav-right">
                <li class="nav-item"></li>
            </ul>
            <div class="dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">Legal</a>
                <div class="dropdown-menu" style="border-radius: 20px;background: rgb(34,34,34);"><a class="dropdown-item" href="/terms" style="border-radius: 20px;color: rgb(255,255,255);">Terms</a><a class="dropdown-item" href="/privacy" style="border-radius: 20px;color: rgb(255,255,255);">Privacy Policy</a></div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">Support</a>
                <div class="dropdown-menu" style="border-radius: 20px;background: rgb(34,34,34);"><a class="dropdown-item" href="/discord" style="border-radius: 20px;color: rgb(255,255,255);">Discord</a><a class="dropdown-item" href="mailto:contact@<%= config.email %>" style="border-radius: 20px;color: rgb(255,255,255);">Email</a></div>
            </div><a class="nav-link" href="/pricing" style="color: rgba(224,217,217,0.9);">Pricing</a><a class="nav-link" href="/about" style="color: rgba(224,217,217,0.9);">About Us</a><a class="nav-link" href="/reviews" style="color: rgba(224,217,217,0.9);">Reviews</a><a class="nav-link" href="/status" style="color: rgba(224,217,217,0.9);">Status</a>
            <p class="ms-auto navbar-text actions"><a class="btn btn-light action-button" role="button" href="/dash" style="color: rgba(255,255,255,0.9);background: #c473f6;border-radius: 10px;font-size: 16px;padding: 5px 8px;margin-right: 20px;box-shadow: 0px 0px 20px #c473f6;border-style: none;border-color: rgba(0,0,0,0.9);">Client</a><a class="btn btn-light action-button" role="button" href="/panel" style="color: rgba(255,255,255,0.9);background: #1f99fe;border-radius: 10px;font-size: 16px;padding: 5px 8px;box-shadow: 0px 0px 19px #1f99fe;border-style: none;border-color: rgba(0,0,0,0.9);">Panel</a></p>
        </div>
    </div>
</nav>


    <style>
        .four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    }
    </style>



  <main id="main">
    <!-- ======= 404 Section ======= -->
    <section id="404" class="404">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">
        <center>
            <section class="page_404">
                <div class="container">
                    <div class="row">	
                    <div class="col-sm-12 ">
                    <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        
                    </div>
                    <div class="contant_box_404">
                        <br>
                    <h1>404</h1>
                    <h3 class="h2">
                    Look like you're lost
                    </h3>
                    
                    <p>the page you are looking for not avaible!</p>
                    
                    <a href="/" class="link_404" style="color: rgb(0, 0, 0);">Go to Home</a>
                </div>
                    </div>
                    </div>
                    </div>
                </div>
            </section>
        </center>


        </div>
      </div>
    </section>
    <!-- End About Section -->

  </main>
  <!-- End #main -->
  <br>
  <br>
  <br>
  <br>

    <footer id="myFooter" style="padding-bottom: 10px;background: rgb(34,34,34);border-top-style: none;border-bottom-style: none;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 col-sm-6 col-md-3">
                    <h1 class="logo" style="margin-top:30px;"><a href="#" style="text-shadow: 0px 0px 9px;color: rgb(255,255,255);"><%= config.name %></a></h1>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms<br></a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5><%= config.name %></h5>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/reviews">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="/discord">Discord<br></a></li>
                        <li><a href="mailto:contact@<%= config.email %>">Email</a></li>
                    </ul>
                </div>
                <div class="col-md-3 social-networks">
                    <div></div><a class="twitter" href="/discord"><i class="fab fa-discord"></i></a><a class="google" href="mailto:contact@<%= config.email %>"><i class="fa fa-google-plus"></i></a><a href="/discord" style="width: 150px;height: 100px;"><button class="btn btn-primary" style="margin-top: 20px;background: rgb(116,118,228);" type="button">Contact us</button></a>
                </div>
            </div>
            <div class="row footer-copyright" style="border-bottom-style: none;">
                <div class="col" style="color: rgb(34,34,34);background: #222222;border-top-style: none;border-right-style: none;border-bottom-style: none;">
                    <p>© 2021 <%= config.name %> || Made By Prajwal</p>
                </div>
            </div>
        </div>
    </footer>
<!-- Vendor JS Files -->
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="../assets/js/service.js"></script>
<script src="../assets/js/services.js"></script>
</body>

</html>