<!DOCTYPE html>
<html lang="en" style="border-right-style: none;margin: 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= config.name %> | Hosting</title>
    <meta name="description" content="24/7 Free Minecraft Hosting | Discord Bot Hosting">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almarai:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Inscriptional+Pahlavi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/FAQ.css">
    <link rel="stylesheet" href="../assets/css/features.css">
    <link rel="stylesheet" href="../assets/css/Footer.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/hover-button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/services.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
  <!-- ======= Navibar ======= -->
<body style="background: linear-gradient(123deg, #157bd0, #c473f6);"><nav class="navbar navbar-light navbar-expand-xl fixed-top navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 85;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;box-shadow: 0px 0px 20px rgb(0,0,0);">
    <div class="container"><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="background: url('../assets/img/hamburger.png');width: 45px;height: 40px;"></span></button>
        <div><a class="navbar-brand" href="#" style="font-size: 30px;"><span style="text-shadow: 0px 0px 9px;"><%= config.name %></span></a></div>
        <div id="navcol-1" class="collapse navbar-collapse" style="color: rgb(255, 255, 255);">
            <ul class="navbar-nav nav-right">
                <li class="nav-item"></li>
            </ul>
            <div class="dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">Legal</a>
                <div class="dropdown-menu" style="border-radius: 20px;background: rgb(34,34,34);"><a class="dropdown-item" href="/terms" style="border-radius: 20px;color: rgb(255,255,255);">Terms</a><a class="dropdown-item" href="/privacy" style="border-radius: 20px;color: rgb(255,255,255);">Privacy Policy</a></div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">Support</a>
                <div class="dropdown-menu" style="border-radius: 20px;background: rgb(34,34,34);"><a class="dropdown-item" href="/discord" style="border-radius: 20px;color: rgb(255,255,255);">Discord</a><a class="dropdown-item" href="mailto:contact@<%= config.email %>" style="border-radius: 20px;color: rgb(255,255,255);">Email</a></div>
            </div><a class="nav-link" href="/pricing" style="color: rgba(224,217,217,0.9);">Pricing</a><a class="nav-link" href="/about" style="color: rgba(224,217,217,0.9);">About Us</a><a class="nav-link" href="/reviews" style="color: rgba(224,217,217,0.9);">Reviews</a><a class="nav-link" href="/status" style="color: rgba(224,217,217,0.9);">Status</a><a class="nav-link" href="#features" style="color: rgba(224,217,217,0.9);">Feature</a>
            <p class="ms-auto navbar-text actions"><a class="btn btn-light action-button" role="button" href="/dash" style="color: rgba(255,255,255,0.9);background: #c473f6;border-radius: 10px;font-size: 16px;padding: 5px 8px;margin-right: 20px;box-shadow: 0px 0px 20px #c473f6;border-style: none;border-color: rgba(0,0,0,0.9);">Client</a><a class="btn btn-light action-button" role="button" href="/panel" style="color: rgba(255,255,255,0.9);background: #1f99fe;border-radius: 10px;font-size: 16px;padding: 5px 8px;box-shadow: 0px 0px 19px #1f99fe;border-style: none;border-color: rgba(0,0,0,0.9);">Panel</a></p>
        </div>
    </div>
</nav>

  <!-- ======= Hero ======= -->
    <header class="header-blue" style="background: url(&quot;../assets/img/bg-min.png&quot;) center / cover no-repeat, rgba(24,78,142,0);text-align: center;border-bottom: 10px solid rgba(255,255,255,0.28) ;">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                    <form class="d-flex me-auto navbar-form" target="_self">
                        <div class="d-flex align-items-center"><label class="form-label d-flex mb-0" for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                    </form><span class="navbar-text"> <a class="login" href="/dash">Client</a></span><a class="btn btn-light action-button" role="button" href="/panel">Panel</a>
            </div>
        </nav>
        <h1 class="pulse animated" style="color: rgb(255,255,255);font-weight: 100;text-align: center;margin-top: 200px;font-size: 100px;"><%= config.name %></h1>
        <p class="pulse animated" style="font-family: 'Source Sans Pro', sans-serif;font-weight: 100;text-align: center;font-size: 20px;"><br><br></p><a href="/dash"><button class="btn btn-primary pulse animated" type="button" style="border-radius: 14px;box-shadow: 0px 0px 20px #c473f6;background: rgb(196,115,246);text-align: center;border-style: none;font-size: 20px;margin-top: 50px;">Get started</button></a>
    </header>

          <!-- ======= Feature's ======= -->
    <section class="features-boxed" style="background: rgba(238,244,247,0);">
        <div class="container">
            <h2 class="text-center" data-aos="fade" data-aos-duration="750" id="features" style="color: rgb(255,255,255);font-size: 50px;margin-top: 75px;margin-bottom: 20px;">Features </h2>
            <p class="text-center" data-aos="fade" data-aos-duration="750" style="color: rgb(204,225,238);">Why you should choose us over other hostings</p>
            <div class="row justify-content-center features" style="color: rgb(49, 52, 55);">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-aos="fade-right" data-aos-duration="750" class="box" style="border-radius: 20px;border-bottom: 10px solid rgb(20,133,238);box-shadow: 5px 0px 20px rgba(49,52,55,0.49);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 3.34315 4.34315 2 6 2H14C17.866 2 21 5.13401 21 9V19C21 20.6569 19.6569 22 18 22H6C4.34315 22 3 20.6569 3 19V5ZM13 4H6C5.44772 4 5 4.44772 5 5V19C5 19.5523 5.44772 20 6 20H18C18.5523 20 19 19.5523 19 19V9H13V4ZM18.584 7C17.9413 5.52906 16.6113 4.4271 15 4.10002V7H18.584Z" fill="currentColor"></path>
                        </svg>
                        <h3 class="name">SFTP File Access</h3>
                        <p class="description">You have full control over your server.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-aos="fade-down" data-aos-duration="750" class="box" style="border-radius: 20px;border-bottom: 10px solid rgb(20,133,238);box-shadow: 6px 0px 20px rgba(49,52,55,0.49);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 11C10.2091 11 12 9.20914 12 7C12 4.79086 10.2091 3 8 3C5.79086 3 4 4.79086 4 7C4 9.20914 5.79086 11 8 11ZM8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7C6 8.10457 6.89543 9 8 9Z" fill="currentColor"></path>
                            <path d="M11 14C11.5523 14 12 14.4477 12 15V21H14V15C14 13.3431 12.6569 12 11 12H5C3.34315 12 2 13.3431 2 15V21H4V15C4 14.4477 4.44772 14 5 14H11Z" fill="currentColor"></path>
                            <path d="M18 7H20V9H22V11H20V13H18V11H16V9H18V7Z" fill="currentColor"></path>
                        </svg>
                        <h3 class="name">Unlimited Player Slots&nbsp;</h3>
                        <p class="description">You can have as much people as you want on your server.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-aos="fade-left" data-aos-duration="750" class="box" style="border-radius: 20px;border-bottom: 10px solid rgb(20,133,238);box-shadow: 6px 0px 20px rgba(49,52,55,0.49);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 2C8.44771 2 8 2.44772 8 3V5C8 5.55228 8.44771 6 9 6C9.55229 6 10 5.55228 10 5V3C10 2.44772 9.55229 2 9 2ZM8 9H16V11C16 13.2091 14.2091 15 12 15C9.79086 15 8 13.2091 8 11V9ZM13 16.917C15.8377 16.441 18 13.973 18 11V7H6V11C6 13.973 8.16229 16.441 11 16.917V22C11 22.5523 11.4477 23 12 23C12.5523 23 13 22.5523 13 22V16.917ZM14 3C14 2.44772 14.4477 2 15 2C15.5523 2 16 2.44772 16 3V5C16 5.55228 15.5523 6 15 6C14.4477 6 14 5.55228 14 5V3Z" fill="currentColor"></path>
                        </svg>
                        <h3 class="name">Unlimited Plugins</h3>
                        <p class="description">You can have as much plugins as you want on your servers for the best experience of your players.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-aos="fade-right" data-aos-duration="750" class="box" style="border-radius: 20px;border-bottom: 10px solid rgb(20,133,238);box-shadow: 5px 0px 20px rgba(49,52,55,0.49);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon">
                            <path d="M9 6C8.44772 6 8 6.44772 8 7C8 7.55228 8.44772 8 9 8H15C15.5523 8 16 7.55228 16 7C16 6.44772 15.5523 6 15 6H9Z" fill="currentColor"></path>
                            <path d="M9 10C8.44772 10 8 10.4477 8 11C8 11.5523 8.44772 12 9 12H15C15.5523 12 16 11.5523 16 11C16 10.4477 15.5523 10 15 10H9Z" fill="currentColor"></path>
                            <path d="M13 17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16C12.5523 16 13 16.4477 13 17Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5C4 3.34315 5.34315 2 7 2H17C18.6569 2 20 3.34315 20 5V19C20 20.6569 18.6569 22 17 22H7C5.34315 22 4 20.6569 4 19V5ZM7 4H17C17.5523 4 18 4.44772 18 5V19C18 19.5523 17.5523 20 17 20H7C6.44772 20 6 19.5523 6 19V5C6 4.44772 6.44771 4 7 4Z" fill="currentColor"></path>
                        </svg>
                        <h3 class="name">24/7 Hosting</h3>
                        <p class="description">Your server server will always be running so and your friends can have the most fun.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-aos="fade-up" data-aos-duration="750" class="box" style="border-radius: 20px;border-bottom: 10px solid rgb(20,133,238);box-shadow: 5px 0px 20px rgba(49,52,55,0.49);"><i class="fa fa-plane icon"></i>
                        <h3 class="name">Fast </h3>
                        <p class="description">We have blazingly fast hosting on private servers across the world.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div data-aos="fade-left" data-aos-duration="750" class="box" style="border-radius: 20px;border-bottom: 10px solid rgb(20,133,238);box-shadow: 5px 0px 20px rgba(49,52,55,0.49);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 4C9 2.34315 10.3431 1 12 1C13.6569 1 15 2.34315 15 4V12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12V4ZM13 4V12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12V4C11 3.44772 11.4477 3 12 3C12.5523 3 13 3.44772 13 4Z" fill="currentColor"></path>
                            <path d="M18 12C18 14.973 15.8377 17.441 13 17.917V21H17V23H7V21H11V17.917C8.16229 17.441 6 14.973 6 12V9H8V12C8 14.2091 9.79086 16 12 16C14.2091 16 16 14.2091 16 12V9H18V12Z" fill="currentColor"></path>
                        </svg>
                        <h3 class="name">Support</h3>
                        <p class="description">Our support team will try to respond to users as fast as we can.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


      <!-- ======= Services ======= -->
    <h2 class="text-center" data-aos="fade" data-aos-duration="750" id="services" style="color: rgb(255,255,255);font-size: 50px;margin-top: 200px;">Services</h2>
    <p class="text-center" data-aos="fade" data-aos-duration="750" style="color: rgb(204,225,238);margin-bottom: 35px;">We offer lots of different services</p>
    <div data-aos="fade-down" data-aos-duration="750" class="blog-slider" style="margin-bottom: 400px;">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img"></div>
                <div class="blog-slider__content"><span class="blog-slider__code"></span>
                    <div class="blog-slider__title"><p style="color: rgb(0,0,0);">Minecraft Hosting</p></div>
                    <div class="blog-slider__text"><p style="color: rgb(0,0,0);">We offer amazing Minecraft Hosting. We offer locations around the world with amazing speeds. We also give you a user friendly gui, using Pterodactyl Panel.</p></div><a class="blog-slider__button" href="#">Learn More</a>
                </div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img"></div>
                <div class="blog-slider__content"><span class="blog-slider__code"></span>
                    <div class="blog-slider__title"><p style="color: rgb(0,0,0);">Discord Bot Hosting</p></div>
                    <div class="blog-slider__text"><p style="color: rgb(0,0,0);">We have amazing 24/7 discord bot hosting that can process lots of requests, so no need to worry about slow bots.</p></div><a class="blog-slider__button" href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="blog-slider__pagination"></div>
    </div>

        <!-- ======= FAQ ======= -->
    <h2 class="text-center" data-aos="fade" data-aos-duration="750" id="faq" style="color: rgb(255,255,255);font-size: 50px;margin-top: 150px;">FAQ</h2>
    <p class="text-center" data-aos="fade" data-aos-duration="750" style="color: rgb(204,225,238);margin-bottom: 35px;">We offer lots of different services</p>
    <div class="accordion text-start accordion" role="tablist" id="accordion-q" style="margin-left: 50px;margin-right: 50px;border-radius: 3px;background: rgba(255,255,255,0);margin-bottom: 300px;">
        <div class="accordion-item" data-aos="fade-left" data-aos-duration="750">
            <h2 class="accordion-header mb-0" role="tab"><button class="accordion-button collapsed collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-q .item-1" aria-expanded="false" aria-controls="accordion-q .item-1" style="border-style: none;border-radius: 0px;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;background: rgba(255,255,255,0);"><strong>How do I make a server?</strong><br></button></h2>
            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-q">
                <div class="accordion-body">
                    <p class="fw-normal" style="color: rgb(0,0,0);">1. Open Client Panel in your browser<br><br>2. Click view servers<br><br>3. Click create server<br><br>4. For ram put 2048, disk put 5120, cpu put 100, for egg do whatever<br><br>5. Click Create Server<br><br>6. Your done, now follow the faq above this to access the server and get started!&nbsp;<br>How do I access the game panel?<br></p>
                </div>
            </div>
        </div>
        <div class="accordion-item" data-aos="fade-right" data-aos-duration="750">
            <h2 class="accordion-header mb-0" role="tab"><button class="accordion-button collapsed collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-q .item-2" aria-expanded="false" aria-controls="accordion-q .item-2" style="border-style: none;border-radius: 0px;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;background: rgba(255,255,255,0);"><strong>How to add a server icon?</strong><br></button></h2>
            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-q">
                <div class="accordion-body">
                    <p class="fw-normal" style="color: rgb(0,0,0);">Upload A 64x64 picture in File Manager and rename it to server-icon.png<br></p>
                </div>
            </div>
        </div>
        <div class="accordion-item" data-aos="fade-left" data-aos-duration="750">
            <h2 class="accordion-header mb-0" role="tab"><button class="accordion-button collapsed collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-q .item-3" aria-expanded="false" aria-controls="accordion-q .item-3"><strong>How do I access the game panel?</strong><br></button></h2>
            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-q">
                <div class="accordion-body">
                    <p class="fw-normal" style="color: rgb(0,0,0);">1. Go the main dashboard of the client area<br><br>2. Open Game Panel another tab<br><br>3. On the client area, copy your username<br><br>4. Paste it into the username box on the game panel<br><br>5. On the client area, click Regenerate Password &amp; copy the new password<br><br>6. Paste it into the password box on the game panel</p>
                </div>
            </div>
        </div>
        <div class="accordion-item" data-aos="fade-right" data-aos-duration="750">
            <h2 class="accordion-header mb-0" role="tab"><button class="accordion-button collapsed collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-q .item-4" aria-expanded="false" aria-controls="accordion-q .item-4"><strong>How do I get a custom domain?</strong><br></button></h2>
            <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-q">
                <div class="accordion-body">
                    <p class="fw-normal" style="color: rgb(0,0,0);">1. Go to https://freenom.com/ and register an account (you can put fake info)<br><br>2. Register the domain you want (has to end in .tk, .gq, .ml, .ga or .cf)<br><br>3. Go to https://cloudflare.com/ and register an account<br><br>4. Add your domain to Cloudflare<br><br>5. Change your domain's nameservers to the new ones (found in freenom's manage domains place)<br><br>6. Wait for the domain to be available in cloudflare<br><br>7. Create an srv record with this info<br><br>- Name: anything<br><br>- Protocol: TCP<br><br>- Service: _minecraft<br><br>- Priority: 1<br><br>- Weight: 1<br><br>- Port: Your servers port<br><br>- Target: Your servers node IP (example: us2.holonodes.host)<br><br>- TTL: Auto<br><br>8. You should then be able to connect using name-here.yourdomainhere</p>
                </div>
            </div>
        </div>
        <div class="accordion-item" data-aos="fade-left" data-aos-duration="750">
            <h2 class="accordion-header mb-0" role="tab"><button class="accordion-button collapsed collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-q .item-5" aria-expanded="false" aria-controls="accordion-q .item-5"><strong>How To Claim Your Resources?</strong><br></button></h2>
            <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-q">
                <div class="accordion-body">
                    <p class="fw-normal" style="color: rgb(0,0,0);">To Claim Any Resources Open A Ticket and Ask A Admin Or Higher For Help<br></p>
                </div>
            </div>
        </div>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="myFooter" style="padding-bottom: 10px;background: rgb(34,34,34);border-top-style: none;border-bottom-style: none;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 col-sm-6 col-md-3">
                    <h1 class="logo" style="margin-top:30px;"><a href="#" style="text-shadow: 0px 0px 9px;color: rgb(255,255,255);"><%= config.name %></a></h1>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms<br></a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5><%= config.name %></h5>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/reviews">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="/discord">Discord<br></a></li>
                        <li><a href="mailto:contact@<%= config.email %>">Email</a></li>
                    </ul>
                </div>
                <div class="col-md-3 social-networks">
                    <div></div><a class="twitter" href="/discord"><i class="fab fa-discord"></i></a><a class="google" href="mailto:contact@<%= config.email %>"><i class="fa fa-google-plus"></i></a><a href="/discord" style="width: 150px;height: 100px;"><button class="btn btn-primary" style="margin-top: 20px;background: rgb(116,118,228);" type="button">Contact us</button></a>
                </div>
            </div>
            <div class="row footer-copyright" style="border-bottom-style: none;">
                <div class="col" style="color: rgb(34,34,34);background: #222222;border-top-style: none;border-right-style: none;border-bottom-style: none;">
                    <p>© 2021 <%= config.name %> || Made By Prajwal</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="../assets/js/service.js"></script>
    <script src="../assets/js/services.js"></script>
</body>

</html>