<!DOCTYPE html>
<html lang="en" style="border-right-style: none;margin: 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= config.name %> | Hosting</title>
    <meta name="description" content="24/7 Free Minecraft Hosting | Discord Bot Hosting">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almarai:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Inscriptional+Pahlavi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/FAQ.css">
    <link rel="stylesheet" href="../assets/css/features.css">
    <link rel="stylesheet" href="../assets/css/Footer.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/hover-button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/services.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body><nav class="navbar navbar-light navbar-expand-xl fixed-top navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 85;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;box-shadow: 0px 0px 20px rgb(0,0,0);">
    <div class="container"><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="background: url('assets/img/hamburger.png');width: 45px;height: 40px;"></span></button>
        <div><a class="navbar-brand" href="#" style="font-size: 30px;"><span style="text-shadow: 0px 0px 9px;"><%= config.name %></span></a></div>
        <div id="navcol-1" class="collapse navbar-collapse" style="color: rgb(255,255,255);">
            <ul class="navbar-nav nav-right">
                <li class="nav-item"></li>
            </ul>
            <div class="dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">Legal</a>
                <div class="dropdown-menu" style="border-radius: 20px;background: rgb(34,34,34);"><a class="dropdown-item" href="/terms" style="border-radius: 20px;color: rgb(255,255,255);">TOS</a><a class="dropdown-item" href="privacy" style="border-radius: 20px;color: rgb(255,255,255);">Privacy Policy</a></div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">Support</a>
                <div class="dropdown-menu" style="border-radius: 20px;background: rgb(34,34,34);"><a class="dropdown-item" href="/discord" style="border-radius: 20px;color: rgb(255,255,255);">Discord</a><a class="dropdown-item" href="mailto:contact@<%= config.email %>" style="border-radius: 20px;color: rgb(255,255,255);">Email</a></div>
            </div><a class="nav-link" href="/pricing" style="color: rgba(224,217,217,0.9);">Pricing</a><a class="nav-link" href="/about" style="color: rgba(224,217,217,0.9);">About Us</a><a class="nav-link" href="/reviews" style="color: rgba(224,217,217,0.9);">Reviews</a><a class="nav-link" href="/status" style="color: rgba(224,217,217,0.9);">Status</a>
            <p class="ms-auto navbar-text actions"><a class="btn btn-light action-button" role="button" href="/dash" style="color: rgba(255,255,255,0.9);background: #c473f6;border-radius: 10px;font-size: 16px;padding: 5px 8px;margin-right: 20px;box-shadow: 0px 0px 20px #c473f6;border-style: none;border-color: rgba(0,0,0,0.9);">Client</a><a class="btn btn-light action-button" role="button" href="/panel" style="color: rgba(255,255,255,0.9);background: #1f99fe;border-radius: 10px;font-size: 16px;padding: 5px 8px;box-shadow: 0px 0px 19px #1f99fe;border-style: none;border-color: rgba(0,0,0,0.9);">Panel</a></p>
        </div>
    </div>
</nav>
    <h4 class="fw-normal" style="margin-top: 100px;text-align: center;"><strong>Website Terms and Conditions of Use</strong><br><br><strong>1. Terms</strong><br><br>By accessing this Website, accessible from <%= config.name %>, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.<br><br><br><br><strong>2. Use License</strong><br><br>Permission is granted to temporarily download one copy of the materials on <%= config.name %>'s Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:<br><br><br><br>modify or copy the materials;<br><br>use the materials for any commercial purpose or for any public display;<br><br>attempt to reverse engineer any software contained on <%= config.name %>'s Website;<br><br>remove any copyright or other proprietary notations from the materials; or<br><br>transferring the materials to another person or "mirror" the materials on any other server.<br><br>This will let <%= config.name %> to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.<br><br><strong>3. Disclaimer</strong><br><br>All the materials on <%= config.name %> Website are provided "as is". <%= config.name %> makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, <%= config.name %> does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.<br><br><br><br><strong>4. Limitations</strong><br><br><%= config.name %> or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on <%= config.name %> Website, even if <%= config.name %> or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.<br><br><br><br><strong>5. Revisions and Errata</strong><br><br>The materials appearing on <%= config.name %> Website may include technical, typographical, or photographic errors. <%= config.name %> will not promise that any of the materials in this Website are accurate, complete, or current. <%= config.name %> may change the materials contained on its Website at any time without notice. <%= config.name %> does not make any commitment to update the materials.<br><br><br><br><strong>6. Links</strong><br><br><%= config.name %> has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by <%= config.name %> of the site. The use of any linked website is at the user’s own risk.<br><br><br><br><strong>7. Site Terms of Use Modifications</strong><br><br><%= config.name %> may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.<br><br><br><br><strong>8. Your Privacy</strong><br><br>Please read our Privacy Policy.<br><br><br><br><strong>9. Governing Law</strong><br><br>Any claim related to <%= config.name %>'s Website shall be governed by the laws of sg without regards to its conflict of law provisions.</h4>
    <!-- ======= Footer ======= -->
    <footer id="myFooter" style="padding-bottom: 10px;background: rgb(34,34,34);border-top-style: none;border-bottom-style: none;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 col-sm-6 col-md-3">
                    <h1 class="logo" style="margin-top:30px;"><a href="#" style="text-shadow: 0px 0px 9px;color: rgb(255,255,255);"><%= config.name %></a></h1>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms<br></a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5><%= config.name %></h5>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/reviews">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="/discord">Discord<br></a></li>
                        <li><a href="mailto:contact@<%= config.email %>">Email</a></li>
                    </ul>
                </div>
                <div class="col-md-3 social-networks">
                    <div></div><a class="twitter" href="/discord"><i class="fab fa-discord"></i></a><a class="google" href="mailto:contact@<%= config.email %>"><i class="fa fa-google-plus"></i></a><a href="/discord" style="width: 150px;height: 100px;"><button class="btn btn-primary" style="margin-top: 20px;background: rgb(116,118,228);" type="button">Contact us</button></a>
                </div>
            </div>
            <div class="row footer-copyright" style="border-bottom-style: none;">
                <div class="col" style="color: rgb(34,34,34);background: #222222;border-top-style: none;border-right-style: none;border-bottom-style: none;">
                    <p>© 2021 <%= config.name %> || Made By Prajwal</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="../assets/js/service.js"></script>
    <script src="../assets/js/services.js"></script>
</body>

</html>